.fontGreen {
	color: #44B549;
}

.fontRed {
	color: #FF5722;
}

.fontOrange {
	color: #F4854B;
}

.fontGray {
	color: #999;
}

.layui-layout-admin .layui-logo {
	float: left;
	width: 200px;
	height: 60px;
	background-color: #fff;
	background-image: url('http://www.poso2o.com/style/img/logo-7.png');
	background-repeat: no-repeat;
	background-size: 170px auto;
	background-position: center center;
	line-height: 999px;
	overflow: hidden;
}

.layui-layout-admin .layui-header {
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
}

.layui-side .layui-nav .layui-nav-item {
	border-bottom: 1px solid #EEEEEE;
}

.layui-nav .layui-nav-item a {
	color: #5E5E5E;
	font-size: 16px;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
	color: #2f9833;
}

.layui-nav .layui-this::after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed::after {
	background-color: #2f9833;
}

.layui-nav .layui-nav-more {
	border-style: solid dashed dashed;
	border-color: #fff transparent transparent;
	border-top-color: #5E5E5E;
}

.layui-bg-black {
	background-color: #f6f6f6 !important;
}

.layui-nav {
	background-color: #f6f6f6;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover {
	background-color: #FFFFFF;
	color: #2f9833;
}

.layui-nav-tree .layui-nav-item a {
	height: 50px;
	line-height: 50px;
}

.layui-nav-tree .layui-nav-item a:hover {
	background-color: #DDDDDD;
	color: #2f9833;
}


/**
 * 右边栏目
 */

.layui-layout-admin .layui-body {
	background-color: #FFFFFF;
	color: #666;
}

.searchArea {
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 14px;
}

.searchArea .layui-card-body {
	padding: 0;
}

.searchArea .layui-form-item {
	margin-bottom: 10px;
}

.layui-fluid {
	padding: 15px;
}

.layui-form-label {
	width: auto;
}

.layui-form-item .layui-input-inline {
	margin-right: 0px;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: #2f9833;
}

.layui-btn {
	background-color: #2f9833;
}

.table_main_body {
	background: #FFFFFF;
}

.layui-table,
.layui-table-view {
	margin: 0;
}


/**
 * 选择框
 */

.layui-form-select dl dd.layui-this {
	background-color: #2f9833;
}

.searchArea .keywords_input_inline {
	border: 1px solid #e7e7eb;
	position: relative;
	width: 220px;
	overflow: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.searchArea .keywords_input_inline:hover {
	border: 1px solid #44b549;
}

.searchArea .keywords_input_inline .layui-input {
	border: none!important;
}

.searchArea .keywords_input_inline .btn {
	background: #FFF url(http://www.poso2o.com/WeChat/style/img/base_z2b638f.png) no-repeat scroll 6px -4414px;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	height: 30px;
	padding: 0;
	position: absolute;
	right: 0;
	text-indent: -999em;
	top: 2px;
	width: 30px;
}

.searchArea .keywords_input_inline .del_btn {
	font-size: 0;
	height: 34px;
	position: absolute;
	right: 30px;
	top: 0;
	text-align: center;
	width: 14px;
}

.searchArea .keywords_input_inline .del_btn i {
	background: rgba(0, 0, 0, 0) url(http://www.poso2o.com/WeChat/style/img/base_z2b638f.png) no-repeat scroll 0 -390px;
	display: block;
	height: 14px;
	vertical-align: middle;
	width: 14px;
	margin-top: 10px;
}

.searchArea .keywords_input_inline.del_btn:hover i {
	background-position: 0 -414px;
}


/**
 * 表格
 */

.layui-table td,
.layui-table th {
	text-align: center;
}

.layui-table tr {
	cursor: pointer;
}

.layui-table td.red {
	color: #FF5722;
}

.itemOverlay {
	z-index: 9999!important;
}

.dialog {
	z-index: 10000!important;
}

.bgDialog {
	z-index: 10001!important;
}


/*开户申请窗口*/

.create_shop_dialog {
	float: left;
	width: 780px;
	position: fixed;
	top: 49px;
	left: 100px;
}

.create_shop_dialog .dialog_bd {
	padding-left: 74px;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 50px;
}

.create_shop_dialog .list {
	float: left;
	margin-bottom: 14px;
	margin-right: 40px;
}

.create_shop_dialog .list label {
	float: left;
	width: 66px;
	padding-top: 6px;
	position: relative;
}

.create_shop_dialog .source_list label {
	height: 70px
}

.create_shop_dialog .version_list label {
	height: 134px;
}

.create_shop_dialog .package_list {
	margin-left: 0px;
}

.create_shop_dialog .package_list .layui-form-radio {
	margin-top: 0px;
}

.create_shop_dialog .list em {
	float: left;
	color: #f17e3f;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	top: 8px;
	left: -10px;
}

.create_shop_dialog .list .inputText {
	background-color: #FFF;
	border: 1px solid #e7e7eb;
	float: left;
	height: 16px;
	line-height: 16px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-top: 10px;
	width: 220px;
}

.create_shop_dialog .list .inputText:hover,
.create_shop_dialog .list .inputText:focus {
	border: 1px solid #44b549;
}

.create_shop_dialog .addressList {
	width: 680px;
}

.create_shop_dialog .addressList .pannel ul {
	min-height: 180px;
	max-height: 182px;
}

.create_shop_dialog .list .wc_btn {
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 38px;
	height: 38px;
	background-color: #F4F4F4;
}

.create_shop_dialog .wc_btn_active {
	background-color: #FFF!important;
	border: 1px solid #f17e3f;
	color: #f17e3f;
	position: relative;
}

.create_shop_dialog .wc_btn_active::before {
	content: " ";
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url('/admin/style/img/wc_btn_active_bg.png');
	background-repeat: no-repeat;
	background-size: 16px auto;
	background-position: 0 0;
}

.create_shop_dialog {
	float: left;
	width: 780px;
	position: fixed;
	top: 49px;
	left: 100px;
}


/*开户确认窗口*/

.entity_shop_dialog {
	float: left;
	width: 580px;
	position: fixed;
	top: 49px;
	left: 100px;
}

.entity_shop_dialog .dialog_bd {
	padding-left: 110px;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 50px;
}

.entity_shop_dialog .list {
	float: left;
	margin-bottom: 6px;
	margin-right: 40px;
}

.entity_shop_dialog .list label {
	float: left;
	width: 66px;
	padding-top: 6px;
	position: relative;
}

.entity_shop_dialog .list em {
	float: left;
	color: #f17e3f;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	top: 8px;
	left: -10px;
}

.entity_shop_dialog .list .inputText {
	background-color: #FFF;
	border: 1px solid #e7e7eb;
	float: left;
	height: 16px;
	line-height: 16px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-top: 10px;
	width: 220px;
}

.entity_shop_dialog .list .inputText:hover,
.entity_shop_dialog .list .inputText:focus {
	border: 1px solid #44b549;
}

.entity_shop_dialog .wc_btn_active {
	background-color: #FFF!important;
	border: 1px solid #f17e3f;
	color: #f17e3f;
	position: relative;
}

.entity_shop_dialog .wc_btn_active::before {
	content: " ";
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url('/admin/style/img/wc_btn_active_bg.png');
	background-repeat: no-repeat;
	background-size: 16px auto;
	background-position: 0 0;
}


/*新增分店窗口*/

/*.create_branch_shop_dialog {
	float: left;
	width: 780px;
	position: fixed;
	top: 49px;
	left: 100px;
}

.create_branch_shop_dialog .dialog_bd {
	padding-left: 74px;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 50px;
}*/


/* *
 * 店铺详情
 */

.shop_info_area {
	margin-left: 10px;
	border: 1px solid #e7e7eb;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}

.shop_info_area .shop_info_area_close {
	color: #44b549;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	padding-right: 50px;
	line-height: 50px;
	background-image: url('/style/img/close_icon.png');
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: center center;
}

.shop_info_area .shop_info_area_close:hover {
	opacity: 0.5;
}

.shop_info_area .shop_head {
	position: relative;
}

.shop_info_area .shop_head .pic {
	position: absolute;
	left: 10px;
	top: 7px;
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #f8f8f8;
	background-image: url('/style/img/wx_shop_icon.png');
	background-repeat: no-repeat;
	background-size: 60px auto;
	background-position: center center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,#grayscale");
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(1);
}

.shop_info_area .shop_head .shop_name {
	display: block;
	clear: both;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 80px;
}

.shop_info_area .shop_head .shop_other {
	display: block;
	clear: both;
	padding-left: 80px;
	color: #9e9e9e;
	padding-top: 6px;
	padding-bottom: 12px;
}

.shop_info_area .shop_head .shop_other li {
	float: left;
	min-width: 190px;
}

.shop_info_area .shop_head .shop_other span {
	color: #5e5e5e;
}

.shop_info_area .shop_details_text {
	display: block;
	clear: both;
	color: #9e9e9e;
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #e7e7eb;
}

.shop_info_area .shop_details_text li {
	float: left;
	min-width: 190px;
}

.shop_info_area .shop_details_text span {
	color: #5e5e5e;
}

.shop_info_area .shop_news {
	display: block;
	clear: both;
}

.shop_info_area .shop_news .head {
	display: block;
	clear: both;
	color: #9e9e9e;
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
	background-image: url('http://account.poso2o.com/style/img/examine_menu_icon_b.png');
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: 12px center;
}

.shop_info_area .shop_news ul {
	border-top: 1px solid #e7e7eb;
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	line-height: 32px;
}

.shop_info_area .shop_news li {
	display: block;
}

.shop_info_area .shop_news span {
	color: #5e5e5e;
}

.shop_info_area .shop_news em {
	color: #44b549;
	float: right;
	padding-right: 24px;
	background-image: url('http://account.poso2o.com/style/img/down_icon.png');
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: 24px center;
}

.shop_info_area .shop_news_up em {
	background-image: url('http://account.poso2o.com/style/img/up_icon.png');
}

.shop_nav_list {
	display: block;
	clear: both;
	background: #f8f8f8 url(http://www.poso2o.com/WeChat/style/img/navList_bg.jpg) repeat-X 0 44px;
	min-height: 45px;
}

.shop_nav_list ul {
	display: block;
	border-top: 1px solid #e7e7eb;
}

.shop_nav_list li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 150px;
	border-right: 1px solid #e7e7eb;
	text-align: center;
}

.shop_nav_list li a {
	display: block;
	line-height: 43px;
	font-size: 16px;
}

.shop_nav_list li em {
	font-size: 14px;
}

.shop_nav_list li.current {
	background: #FFF;
	border-bottom: 1px solid #FFF;
}

.shop_nav_list li.current a {
	color: #44b549;
}

.create_shop_record {
	display: block;
	clear: both;
	margin-top: 10px;
	margin-bottom: 20px;
}

.create_shop_record .items {
	padding-top: 20px;
}

.create_shop_record .item {
	float: left;
	text-align: center;
}

.create_shop_record .item label {
	float: left;
	line-height: 60px;
	padding-left: 20px;
	min-width: 90px;
}

.create_shop_record .item .box_cont {
	float: left;
}

.create_shop_record .item .box {
	float: left;
	line-height: 30px;
	margin-left: 20px;
	margin-bottom: 30px;
	font-size: 14px;
}

.create_shop_record .item .box .btn {
	display: block;
	line-height: 60px;
	border: 1px solid #e7e7eb;
	background-color: #F8F8F8;
	color: #333;
	min-width: 140px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 18px;
	margin-bottom: 10px;
}

.create_shop_record .item .box .btn.active {
	border: 1px solid #44b549;
	background-color: #FFFFFF;
	color: #44b549;
}

.create_shop_record .item .box p {
	text-align: left;
	color: #9E9E9E;
	line-height: 20px;
}

.create_shop_record .item .box p span {
	color: #333;
}

.shop_aptitude .pub-wrap {
	position: relative;
	padding: 30px 100px;
	border-radius: 6px;
}

.shop_aptitude .pub-process {
	position: relative;
	height: 35px;
	margin-left: 35px;
	font-size: 0;
	color: #fff;
}

.shop_aptitude .pub-process:after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 99%;
	height: 4px;
	content: "";
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background-color: #d9d9d9;
}

.shop_aptitude .pub-process li {
	position: relative;
	z-index: 5;
	display: inline-block;
	width: 25%;
	height: 35px;
	font-size: .875rem;
}

.shop_aptitude .pub-process li:first-child {
	width: 35px;
	margin-left: -35px;
}

.shop_aptitude .pub-process .ball {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 7;
	width: 35px;
	height: 35px;
	line-height: 35px;
	content: "";
	text-align: center;
	border-radius: 50%;
	background-color: #d9d9d9;
	background-repeat: no-repeat;
	background-size: 35px auto;
	background-position: center center;
}

.shop_aptitude .pub-process .active .ball {
	background-color: #44b549;
}

.shop_aptitude .pub-process .active_ok .ball {
	background-image: url('http://account.poso2o.com/style/img/shop_aptitude_ok_icon.png');
	background-color: #FFF;
}

.shop_aptitude .pub-process .active_error .ball {
	background-image: url('http://account.poso2o.com/style/img/shop_aptitude_error_icon.png');
	background-color: #FFF;
}

.shop_aptitude .pub-process .ball_text {
	position: absolute;
	bottom: -30px;
	right: -44px;
	z-index: 7;
	width: 120px;
	height: 35px;
	line-height: 35px;
	color: #5E5E5E;
	content: "";
	text-align: center;
}

.shop_aptitude .pub-process .active+.active:after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 6;
	width: 100%;
	height: 4px;
	content: "";
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background-color: #44b549;
}

.shop_aptitude .process-3 li {
	width: 50%;
}

.shop_aptitude .process-5 li {
	width: 25%;
}


/* flex ver */

.shop_aptitude .pub-process-flex {
	display: -webkit-box;
}

.shop_aptitude .pub-process-flex li {
	display: list-item;
	-webkit-box-flex: 1;
	width: auto;
}

.shop_aptitude .pub-process-flex li:first-child {
	width: 35px;
	margin-left: -35px;
	-webkit-box-flex: 0;
}

.shop_aptitude .items {
	margin: 20px;
	border: 1px solid #e7e7eb;
	position: relative;
	min-height: 500px;
}

.shop_aptitude .items .imgs {
	float: left;
	width: 400px;
	position: absolute;
	left: 0;
	top: 0;
}

.shop_aptitude .items .imgs_cont {
	border-right: 1px solid #e7e7eb;
	height: 500px;
	width: 400px;
	display: table-cell;
	vertical-align: middle;
	/*设置水平居中*/
	text-align: center;
	/* 针对IE的Hack */
	*display: block;
	*font-size: 500px;
	/*约为高度的0.873，200*0.873 约为175*/
	*font-family: Arial;
	/*防止非utf-8引起的hack失效问题，如gbk编码*/
}

.shop_aptitude .items .imgs img {
	max-height: 500px;
	max-width: 400px;
	text-align: center;
	vertical-align: middle;
}

.shop_aptitude .texts {
	display: block;
	padding-left: 400px;
	padding-bottom: 100px;
}

.shop_aptitude .texts .title {
	font-size: 16px;
	line-height: 48px;
	border-bottom: 1px solid #e7e7eb;
	padding-left: 14px;
	color: #5e5e5e;
	margin-bottom: 10px;
}

.shop_aptitude .texts .title i {
	font-size: 16px;
	line-height: 48px;
	border-left: 4px solid #44b549;
	padding-right: 4px;
}

.shop_aptitude .texts p {
	color: #9e9e9e;
	padding-left: 14px;
	line-height: 30px;
}

.shop_aptitude .texts p span {
	color: #5e5e5e;
}

.shop_aptitude .btn_item {
	position: absolute;
	bottom: 10px;
	right: 0;
}

.shop_aptitude .btn_item .btn {
	float: right;
	margin-right: 8px;
	margin-top: 6px;
	line-height: 35px;
	border: 1px solid #DDD;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 0 40px;
}

.shop_aptitude .btn_item .btn_default {}

.shop_aptitude .btn_item .btn_primary {
	color: #FFF;
	background: #44b549;
}

.shop_aptitude .btn_item .btn_default {}


/**
 * footer
 */

.layui-layout-admin .layui-footer {
	background-color: #F6F6F6;
}

.entity_shop_footer .menu_cont {
	float: left;
}

.entity_shop_footer .menu {
	line-height: 32px;
	/*border-right: 1px solid #BBB;*/
	padding-right: 20px;
}

.entity_shop_footer .setup_menu {
	padding-left: 40px;
	background-image: url('/style/img/setup_menu_icon.png');
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: 12px center;
}

.entity_shop_footer .full_screen_menu {
	padding-left: 40px;
	background-image: url('/style/img/full_screen_menu_icon.png');
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: 12px center;
}

.entity_shop_footer .examine_menu i {
	padding-left: 40px;
	background-image: url('/style/img/examine_menu_icon.png');
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: 12px center;
	border-right: 1px solid #FFF;
}

.entity_shop_footer .examine_menu em {
	color: #d81e06;
	padding-right: 4px;
}

.entity_shop_footer .assign_btn {
	float: right;
	margin-right: 8px;
	margin-top: 6px;
	line-height: 35px;
	border: 1px solid #DDD;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 0 40px;
	color: #FFF;
	background: #44b549;
}

@-webkit-keyframes twinkling {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#shop_news_icon {
	-webkit-animation: twinkling 1s infinite ease-in-out;
}